<nav class="navbar navbar-expand-md  fixed-top text-light container d-flex justify-content-around">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="text-light ml-5">Travelex</h1>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
            <li class="nav-item active ">
                <a class="nav-link text-light" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/blog">Aboutus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/travels">Tours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/gallery">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/contact-us">Contact-Us</a>
            </li>
        </ul>
    </div>
    <button class="btn btn-primary my-2 my-sm-0" type="submit" routerLink="/cart">Checkout</button>
</nav>