<h2 class="font-italic display-4 pb-3">Some Top Places to visit</h2>
<div class="contaner">
    <div class="row">
        <div class="col col-lg-4">
            <div class="card bg-dark text-white">
                <img src="./assets/3.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Innsburk</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button>Show more</button>
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="card bg-dark text-white">
                <img src="./assets/4.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Hallstatt</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button>Show more</button>
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="card bg-dark text-white">
                <img src="./assets/5.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Salzburg</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button>Show more</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col col-lg-4">
            <div class="card bg-dark text-white">
                <img src="./assets/6.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Skiing at Kitzbühel and Kitzbüheler Horn</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button>Show more</button>
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="card bg-dark text-white">
                <img src="./assets/7.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Medieval Burg Hochosterwitz</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button>Show more</button>
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="card bg-dark text-white">
                <img src="./assets/8.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Vorarlberg</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button>Show more</button>
                </div>
            </div>
        </div>
    </div>
</div>