<div class="card ml-0">

    <div class="card-body">
        <img id="content" src="./assets/2.jpg" alt="" />
        <h5 class="card-title font-italic">We Will Make Your Vocation Unforgetable</h5>
        <h6 class="display-4">Services We offer</h6>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Travel insurance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Flights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sightseeing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Accomodation</a>
                </li>
            </ul>
        </nav>
        <br>
        <p class="card-text">Travel insurers offer a variety of policies that include cover for individuals, families and couples, and some also offer multi-trip and annual policies for frequent travellers.</p>
        <p>It’s important to remember to purchase a travel insurance policy as soon as you have paid for insurance policy, such as illness or a natural disaster.</p>
    </div>
</div>